@inherits OperationPropertyRenderer<DateTime>

@if (OperationSchema.IsCreateOrUpdate)
{
    <label>
        @PropertySchema.DisplayName (value: @Value.ToLongTimeString())
        <InputDate @bind-Value="Value" />
    </label>
}
else
{
    <p>@PropertySchema.DisplayName: @Value.ToLongDateString() @Value.ToLongTimeString()</p>
}

