@if (Debug && Schema is not null)
{
    <div class="magic-router-debug">
        <table>
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; font-weight: bold; border-top: 1px solid;">Configuration</td>
                </tr>
                <tr>
                    <td>Base API path</td>
                    <td>@Configuration.BaseApiPath</td>
                </tr>
                <tr>
                    <td>Operation list renderer</td>
                    <td>@(Configuration.OperationListingRenderer?.AssemblyQualifiedName ?? "<not set>")</td>
                </tr>
                <tr>
                    <td>Error renderer</td>
                    <td>@Configuration.ErrorRenderer.AssemblyQualifiedName</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; font-weight: bold; border-top: 1px solid;">Paths and args</td>
                </tr>
                <tr>
                    <td>Path</td>
                    <td>@(Path ?? "<not set>")</td>
                </tr>
                <tr>
                    <td>Base path</td>
                    <td>@(BasePath ?? "<not set>")</td>
                </tr>
                <tr>
                    <td>Args fallback</td>
                    <td>@(ArgsFallback ?? "<not set>")</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; font-weight: bold; border-top: 1px solid;">Schema</td>
                </tr>
                <tr>
                    <td>Group key</td>
                    <td>@Schema.Group.Key</td>
                </tr>
                <tr>
                    <td>Group path</td>
                    <td>@Schema.Group.Path</td>
                </tr>
                <tr>
                    <td>Renderer type</td>
                    <td>@(Schema.Renderer?.AssemblyQualifiedName ?? "<default>")</td>
                </tr>
                <tr>
                    <td>Action</td>
                    <td>@Schema.Action</td>
                </tr>
                <tr>
                    <td>Full path</td>
                    <td>@Schema.GetFullPath()</td>
                </tr>
                <tr>
                    <td>Display name</td>
                    <td>@Schema.DisplayName</td>
                </tr>
                <tr>
                    <td>HTTP Method</td>
                    <td>@Schema.HttpMethod</td>
                </tr>
                <tr>
                    <td>Model type</td>
                    <td>@Schema.ModelType.AssemblyQualifiedName</td>
                </tr>
                <tr>
                    <td>Operation type</td>
                    <td>@Schema.ModelType.AssemblyQualifiedName</td>
                </tr>
                <tr>
                    <td>Reponse type</td>
                    <td>@(Schema.ResponseType?.AssemblyQualifiedName ?? "<not set>")</td>
                </tr>
            </tbody>
        </table>
    </div>
}

@Render()
