<h3>MagicRouter</h3>

@if (Schema is not null)
{
    <p>Group route: @Schema.Group.Key</p>
    <p>Route: @Schema.Action</p>
    <p>DisplayName: @Schema.DisplayName</p>
    <p>HttpMethod: @Schema.HttpMethod</p>
    <p>ModelType: @Schema.ModelType.AssemblyQualifiedName</p>
    <p>OperationType: @Schema.OperationType</p>
}

@if (RenderFragment is not null)
{
    @RenderFragment
}
