@page "/"
@namespace AdsPortal.ManagementUI.Pages

@using Microsoft.Extensions.Options;
@using AdsPortal.Application.Configurations;
@using AdsPortal.ManagementUI.Shared;

@inject IOptions<ApplicationConfiguration> ApplicationConfiguration;

@using AdsPortal.ManagementUI.Helpers

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@{
    string iconPath = ApplicationConfiguration.Value.IconPath ?? string.Empty;
    string iconAssetPath = MediaHelper.AsAsset(iconPath, AssetTypes.Image);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ApplicationConfiguration.Value.Name</title>
    <base href="~/" />

    <link href="@MediaHelper.AsRoot("manifest.json")" rel="manifest" />

    <link rel="shortcut icon" href="@iconAssetPath">
    <link rel="icon" type="image/png" href="@iconAssetPath" sizes="512x512">
    <link rel="apple-touch-icon" sizes="512x512" href="@iconAssetPath">

    <link href="@MediaHelper.AsAsset("c-blazor-error-ui.css", AssetTypes.Stylesheet)" rel="stylesheet" />
    <link href="@MediaHelper.AsAsset("styles.css", AssetTypes.Stylesheet)" rel="stylesheet" />
</head>

<body id="body" class="dark">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
</body>
</html>
